<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>
    <h1>Report {{date}}</h1>
    <h2>Durchschnitt</h2>
    {{avg_svg|safe}}
    <h2>Weiblich Durchschnitt</h2>
    {{female_avg_svg|safe}}
    <h2>Männlich Durchschnitt</h2>
    {{male_avg_svg|safe}}
</body>
</html>